<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li><a data-toggle="" href="{{url_for('mod_main.dashboard')}}">Home</a>
                    </li>
                    <li><a data-toggle="" href="#">Community</a>
                    </li>
                    <li><a data-toggle="" href="#Interface">Interface</a>
                    </li>
                    <li><a data-toggle="" href="#Charts">Charts</a>
                    </li>
                    <li><a data-toggle="" href="#les">ToDo</a>
                    </li>
                    <li><a data-toggle="" href="#Forms">Notification</a>
                    </li>
                    <li><a data-toggle="" href="#Appviews">Calendar</a>
                    </li>
                    <li><a data-toggle="" href="{{url_for('mod_main.profile')}}">Profile</a>
                    </li>
                    <li><a data-toggle="" href="{{url_for('mod_auth.signout')}}"><u>Logout</u></a>
                    </li>
                </ul>
              
            </div>
        </div>
    </div>
</div>