<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPortal Interactive Board</title>
    <link rel="stylesheet" href="/static/css/w3.css">
    <script src="/static/js/p5.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
       </script>
</head>

<body>
    <div style="position: static;" id="canvas"></div>
    <!-- <div class="w3-display-top w3-margin">
        <button>OLA</button>
    </div> -->



    <script>
        var socket;
         $(document).ready(function() {
            namespace = '/theboard';

            socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
                // Join Room after connecting
                socket.emit('join', {room: '{{board_room}}'});
            });

            socket.on('my_response', function(msg, cb) {
                if (cb)
                    cb();
                if(msg.data.length == 5 && msg.data[4] == 'draw'){
                    line(msg.data[0], msg.data[1], msg.data[2], msg.data[3]);
                }
            });

        });
    
        function setup() {
            createCanvas(1400, 600);
            background(0);
            noStroke();
            fill(0);
        }

        function draw() {
            stroke(255);
            if (mouseIsPressed === true) {
                line(mouseX, mouseY, pmouseX, pmouseY);
                socket.emit('my_room_event', {room: '{{board_room}}', data: [mouseX, mouseY, pmouseX, pmouseY, 'draw']});
            }
        }
    </script>




</body>

</html>