{% extends 'base.html' %}
{% block title %} Chat {% endblock %}
{% block content %}
{% include 'dashboard/nav.html' %}
{% include 'chat/new_chat.html' %}
<div class="container w3-round jumbotron w3-card w3-pale-green w3-padding">
    <h3><u class="w3-text-teal">Chats</u></h3>
    <button class="w3-button w3-right w3-teal w3-round" data-toggle="modal" data-target="#newChat">New Chat</button>
    <span class="text-muted w3-small">Start a conversation with a friend or tutor</span><br>
    <span class="text-muted w3-small">Share documents, images, videos and many more...</span>
</div>

<div class="container w3-row w3-border w3-padding">

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="w3-pale-green w3-card w3-round notika-chat-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds">
            <div class="realtime-ctn">
                <div class="w3-text-teal">
                    <h4 class="w3-center">Messages</h4>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group ic-cmp-int">
                            <div class="nk-int-st">
                                <input type="text" class="form-control w3-pale-green" placeholder="  Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <div class="chat-conversation">
                    <div class="widgets-chat-scrollbar">
                        <ul class="conversation-list" id="convo_list">
                            <!-- Conversation List -->
                            {% for i in range(10) %}
                            <div class="recent-post-signle rct-pt-mg-wp w3-hover-white w3-padding w3-round">
                                <a href="#">
                                    <div class="recent-post-flex">
                                        <div class="recent-post-img">
                                            <img src="img/post/2.jpg" alt="">
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Smith</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div><hr>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="notika-chat-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds">
            <div class="realtime-ctn">
                <div class="realtime-title">
                    <h2>Username</h2>
                </div>
            </div>
            <div class="card-box">
                <div class="chat-conversation">
                    <div class="widgets-chat-scrollbar">
                        <ul class="conversation-list">
                            <li class="clearfix">
                                <div class="chat-avatar">
                                    <img src="img/post/1.jpg" alt="male">
                                    <i>10:00</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap">
                                        <i>John Deo</i>
                                        <p>
                                            Hello!
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix odd">
                                <div class="chat-avatar">
                                    <img src="img/post/2.jpg" alt="Female">
                                    <i>10:01</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap chat-widgets-cn">
                                        <i>Smith</i>
                                        <p>
                                            Hi, How are you? What about our next meeting?
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="chat-avatar">
                                    <img src="img/post/1.jpg" alt="male">
                                    <i>10:01</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap">
                                        <i>John Deo</i>
                                        <p>
                                            Yeah everything is fine
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix odd">
                                <div class="chat-avatar">
                                    <img src="img/post/2.jpg" alt="male">
                                    <i>10:02</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap chat-widgets-cn">
                                        <i>Smith</i>
                                        <p>
                                            Wow that's great
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="chat-avatar">
                                    <img src="img/post/1.jpg" alt="male">
                                    <i>10:01</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap">
                                        <i>John Deo</i>
                                        <p>
                                            Doing Better i am thinking about that..
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix odd">
                                <div class="chat-avatar">
                                    <img src="img/post/2.jpg" alt="male">
                                    <i>10:02</i>
                                </div>
                                <div class="conversation-text">
                                    <div class="ctext-wrap chat-widgets-cn">
                                        <i>Smith</i>
                                        <p>
                                            Wow, You also tallent man...
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-widget-input">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 chat-inputbar">
                                <div class="form-group todo-flex">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control chat-input"
                                            placeholder="Enter your text">
                                    </div>
                                    <div class="chat-send">
                                        <button type="submit"
                                            class="btn btn-md btn-primary btn-block notika-chat-btn">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js_content %}

{% endblock %}