<div class="modal fade" id="newChat" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content w3-light-gray">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h1 class="w3-text-teal">New Chat</h1>
                <p class="w3-small w3-justify">
                   Search for a user by name or username and start a conversation.
                </p>
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro">-</span>
                    <div class="nk-int-st">
                        <input type="text" id="search_student" class="form-control" placeholder="Enter student's Email or username">
                    </div>
                </div>
                <hr>
                <!-- loaded names with ajax -->
                <div class="hd-message-info" id="search_list">



                </div>
            </div>
        </div>
    </div>
</div>