<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="canvas"></div>

    <script>
        namespace = '/test';


        var socket = io(namespace);

        socket.on('connect', function () {
            socket.emit('my_event', { data: 'I\'m connected!' });
            socket.emit('join', { room: 'olamide' });
        });
        socket.on('my_response', function (msg, cb) {
            if (msg['data'] instanceof Array){
                line(msg['data'][0],
                msg['data'][1],
                msg['data'][2],
                msg['data'][3]);

            }
            if (cb)
                cb();
        });

        function setup() {
            // createCanvas must be the first statement
            createCanvas(1200, 700);
            stroke(255); // Set line drawing color to white
            frameRate(30);
            // background(color(255, 255, 255)); // Black
            background(color(0, 0, 0)); // White
        }
        function draw() {
            if (mouseIsPressed === true) {
                line(mouseX, mouseY, pmouseX, pmouseY);
                var a = [mouseX, mouseY, pmouseX, pmouseY];
                socket.emit('my_room_event', { room: 'olamide', data: a });


            }
            strokeWeight(2);
        }


    </script>

</body>

</html>