{% extends 'base.html' %}
{% block title %} {{module_name|capitalize}} {% endblock %}
{% block content %}
{% include 'dashboard/nav.html' %}
{% include 'module/edit_module.html' %}
{% include 'module/add_student.html' %}
<div class="container w3-round jumbotron w3-black w3-padding">

    <h3><u class="w3-text-teal">{{module_name|capitalize}}</u></h3>
    <span class="w3-text-teal">Module Code: {{module_code}}</span><br>
    <span class="text-muted w3-small">Module Tutor: {{module_tutor_id}}</span>
    <br>
    <div class="">
        {% if current_user == module_tutor_id %}
        <div class="btn-group notika-group-btn w3-right w3-small">
            <br>
            <button class="w3-button w3-teal w3-round btn-default notika-gp-default" data-toggle="modal"
                data-target="#editModule">Edit</button></button>
            <button id="decline_module_btn" data-toggle="modal" class="w3-button w3-teal w3-round 
                btn-default notika-gp-default" data-target="#addStudent">Add Student</button></button>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="widget-tabs-int tab-ctm-wp mg-t-30">
                <div class="tab-hd">
                    <h2>Hello, {{current_user}}</h2>
                    <p>Upcoming Event: <code>session : 5th of May,2020 | 3:00 pm - 6:00 pm </code></p>
                </div>
                <div class="widget-tabs-list">
                    <ul class="nav nav-tabs tab-nav-right">
                        <li><a data-toggle="tab" href="#description">Description</a></li>
                        <li><a data-toggle="tab" href="#materials">Materials</a></li>
                        <li><a data-toggle="tab" href="#students">Students</a></li>
                    </ul>
                    <div class="tab-content tab-custom-st tab-ctn-right">
                        <div id="description" class="tab-pane fade in active">
                            <div class="tab-ctn">
                                <p class="w3-justify">{{description}}</p>
                            </div>
                        </div>
                        <div id="materials" class="tab-pane fade">
                            <div class="tab-ctn">
                            </div>
                        </div>
                        <div id="students" class="tab-pane fade">
                            <div class="tab-ctn">
                                <ul class="w3-ul" id="studentlist">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_content %}
<script>
    $("#search_student").on('keyup', function () {
        $('#search_student_list').empty();
        $('#search_student_list').empty();
        $.ajax({
            'data': { student: $('#search_student').val() },
            'url': '/search_student/',
            'type': 'GET',
            'success': function (res) {
                if (res.data.length == 0) {
                    $('#search_student_list').append(
                        `<div class="w3-small wb-traffic-inner sm-res-mg-t-30 tb-res-mg-t-30 w3-round">
                            <div>
                                <p class="w3-text-teal w3-center">No Result</p>
                            </div>
                        </div> <br>`);
                }
                for (var i = 0; i < res.data.length; i++) {
                    $('#search_student_list').append(
                        `<div class="w3-small wb-traffic-inner sm-res-mg-t-30 tb-res-mg-t-30 w3-round">
                            <div>
                                <p class="w3-small">Studnet Name: ${res.data[i][1]}</p>
                                <p class="w3-small">Student Username: ${res.data[i][0]}</p>
                                <p class="w3-small">Student Email: ${res.data[i][2]}</p>
                                <button class="w3-button w3-teal w3-round" id="addStudentBtn${res.data[i][0]}"
                                onclick="sendRequestToStudent('${res.data[i][0]}')">Invite</button>
                            </div>
                        </div> <br>`);

                }
            }
        });
    });


    function sendRequestToStudent(username) {
        var module_id = '{{module_id}}';
        $.ajax({
            'data': { student: username },
            'url': `/module/${module_id}/add/`,
            'type': 'GET',
            'success': function (res) {
                if (res.status == true) {
                    $("#addStudentBtn" + username).html(res.msg);
                } else {
                    $("#addStudentBtn" + username).html(res.msg);
                }
            }
        });
    }


    $(document).ready(function () {
        $.ajax({
            'url': '/module/{{module_id}}/members/',
            'type': 'GET',
            'success': function (res) {
                for (var i = 0; i < res.students.length; i++) {
                    $("#studentlist").append(`<li>${i+1} : ${res.students[i]}</li>`);
                }
            }
        });
    });
</script>
{% endblock %}