<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPortal Interactive Board</title>
    <link rel="stylesheet" href="/static/css/w3.css">
    <script src="/static/js/p5.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="canvas" style="position: static;" id="canvas"></div>
    <div class="w3-display-top w3-margin">
        <button class="w3-button w3-teal w3-round">Pin Board</button>
        <button class="w3-button w3-teal w3-round">Share</button>
        <button class="w3-button w3-teal w3-round w3-right">Delete</button>
    </div>



    <script>
        var socket;
        $(document).ready(function () {
            namespace = '/theboard';

            socket = io(namespace);

            socket.on('connect', function () {
                socket.emit('my_event', { data: 'I\'m connected!' });
                // Join Room after connecting
                socket.emit('join', { room: '{{board_room}}' });
            });

            socket.on('my_response', function (msg, cb) {
                if (cb)
                    cb();
                    // Get draw strokes from websockets
                    getDrawings(msg.data);

            });

        });

        function setup() {
            createCanvas(1400, 600);
            background(0);
            noStroke();
            fill(0);
        }

        function draw() {
            stroke(255);
            if (mouseIsPressed === true) {
                line(mouseX, mouseY, pmouseX, pmouseY);
                socket.emit('my_room_event', { room: '{{board_room}}', data: [mouseX, mouseY, pmouseX, pmouseY, 'draw'] });
            }
        }

        function getDrawings(data) {
            if (data.length == 5 && data[4] == 'draw') {
                line(data[0], data[1], data[2], data[3]);
            }
        }
    </script>




</body>

</html>